In [2]:
import pandas as pd

In [58]:
df = pd.DataFrame(data = pd.read_csv("training.csv"))
df = df.dropna(subset=["price"])
    
train_x_a = df.iloc[:,:-1] 
df.price
train_y = pd.DataFrame([i for i in df.price])

In [59]:
train_y

           0
0    15985.0
1     7349.0
2     6849.0
3    15690.0
4     6692.0
..       ...
150  28248.0
151  14489.0
152   7609.0
153   5118.0
154   8778.0

[155 rows x 1 columns]